.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

body {
  font-family: "Oswald", sans-serif;
}


a {
  text-decoration: none;
  color: black;
}

.whiteText {
  color: white;
}

.containerBody {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.containerContent {
  min-width: 80vw;
}

.containerContent80 {
  width: 80vw;
}

.cover {
  object-fit: cover;
}

.flex {
  display: flex;
}

.bgBlue {
  background-color: #61dafb;
}

.bgWhite {
  background-color: white;
}






/* NAV */
.navContainer {
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.nav {
  background-color: white;
  min-width: 80vw;
  display: flex;
  justify-content: space-between;
}


.navLogo {
  width: 4vw;
}


.ulNav {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.ulNavLi {
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
}
 

/* HEADER - HERO */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vw;
}

.heroImg {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.heroTextContainer {
  min-width: 80vw;
  margin: -150px 0 150px 0;
}





/* MAIN */
.main {
  width: 100vw;
}

/* OM OS */
.articleOmos {
  width: 24vw;
  margin: 0 0 1.5vw 0;
}

/* Frivillig */

.frivilligH2 {
  margin: 1vw;
}
.imgFrivillig {
  width: 24vw;
  margin: 0 0 1.5vw 0;
}

.articleFriv {
  width: 24vw;
  margin: 0.5vw;
  padding: 1vw;
}



/* Dyr hos os */
.animalImg {
  width: 14vw;
  margin: 0 1vw 0 0;
}

.articleAnimal {
  border: solid rgb(209, 207, 207) 0.5px;
  width: 39vw;
  display: flex;
  height: 20vw;
  margin: 0 0 1.5vw 0;
}

.containerAnimal {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}







/* FOOTER */
.footer {
  border: #61dafb solid 1px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
